.row-header{
  margin: 0px auto;
  padding: 0px ;
}

.row-content{
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer{
  margin:0px auto;
  padding = 20px 0px 20px 0px;

  background-color:lightpink;
}
.jumbotron
{
  padding = 70px 30px 70px 30px;
  margin: 0px auto;
  background-color: lightblue;
  color : red;

}
.address{
  font-size: = 80%;
  margin : 0px;
  color: black;
}
body{
  padding:50px 0px 0px 0px;
  z-index :0;

}
.navbar-dark{
  background-color: purple;
}
